.section-about {
  display: flex;
  flex-direction: row;
  padding: 0;
  @include respond(tab-land) {
  gap:3rem;
  padding: 3rem 2rem;
  }
  @include respond(phone) {
    padding: 3rem 1.5rem;
  }
  @include respond(tab-land) {
    flex-direction: column;
  }
  &__about {
    width: 60%;
    padding: 3rem 2rem;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      padding: 0;
      border-right: none;
      border-bottom: none;
      display: inline;
    }
    @include respond(tab-land) {
      width: 100%;
    }
    &-content{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }
  }
  &__skills {
    display: flex;
    flex-direction: column;
    width: 40%;
    @include respond(tab-land) {
      width: 100%;
      gap: 2rem;
    }
    &-1,
    &-2 {
      padding: 3rem 2rem;
      border-bottom: 1px solid;
      @include respond(tab-land) {
        padding: 0;
        border-bottom: none;
      }
    }
    &-2{
      border-bottom: none;
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 6rem;
      @include respond(tab-land) {
        width: 100%;
        justify-content: flex-start;
        gap: 4rem;
      }
      @include respond(phone) {
        gap: 1rem;
      }
    }
  }
}