.section-contact {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  @include respond(tab-port) {
    flex-direction: column;
  }
  @include respond(tab-phone) {
    gap: 0.75rem;
  }
  &__content,
  &__social {
    display: flex;
    flex-direction: column;
  }
  &__social {
    align-items: flex-end;
    @include respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__content-email{
    display: flex;
    @include respond(phone) {
      flex-direction: column;
    }
  }
}
