@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
//1 em =16px x =940
//600, 900,1200,1800 px
//order: base, typography > layout,grid > page layout > components
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 26.875em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 45.625em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
