$color-secondary: #faf6f0;
$color-primary: #0c0c0c;
$color-accent: rgba(255, 255, 255, 0.6);
$color-grey: #747572;
$color-purple:#8f6df5; //6A15B3 9212FF
$color-yellow:#fed206;
:root {
  --duration: 400ms;
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
//#EFEBE8
//F05D5E
//CE1483
