/*reset browser's default styling*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*to make box sizing as an inheritable property*/
}

html {
  font-size: 62.5%; /*1 rem=10px, 62.5%of root font size 16px=10px*/
  @include respond(tab-land) {
    font-size: 56.25%; //1rem  to be  9px , 9/16=56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem  to be  8px, 8/16=50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem  to be  12px , 12/16=75%
  }
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  background-color: $color-primary;

  
  overflow-x: hidden;
  padding: 4rem;
  //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  //background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%), linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%), linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%), linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
  //background-image: linear-gradient(90deg, transparent 24%, rgba(247,37,133, .05) 28%, rgba(247,37,133, .05) 26%, transparent 27%, transparent 74%, rgba(247,37,133, .05) 708%, rgba(247,37,133, .05) 76%, transparent 77%, transparent);

  @include respond(tab-land) {
    padding: 3rem;
  }
  @include respond(tab-port) {
    padding: 3rem;
  }
  @include respond(phone) {
    padding: 1.5rem;
  }
}

::selection {
  background-color: $color-secondary;
  color: $color-primary;
}

a {
  color: $color-yellow;
  text-decoration: none;
  position: relative;
}
a.link-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-yellow;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
a.link-effect:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

//animation hide classes
// .anm {
//   &-hr {
//     opacity: 0;
//   }
//   &-move {
//     &Down,
//     &Left,
//     &Right {
//       opacity: 0;
//     }
//   }
// }

//copy to clipboard
.copy-click {
  position: relative;
  // padding-bottom: 2px;
  text-decoration: none;
  // border-bottom: 2px solid $color-yellow;
  cursor: default;
  display: inline-block;
  color: $color-yellow;
}

//scroll bar
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-secondary $color-primary;
}
@media only screen and (min-width: 75em) {
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: $color-secondary;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $color-purple;
    border-radius: 20px;
  }
}

//arrow color
.arr-purple {
  color: $color-purple;
}
.arr-yellow {
  color: $color-yellow;
}

//star
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star-hover {
  animation: 2.5s rotate infinite;
  animation-timing-function: linear;
}

.star {
  width: 10px;
  height: 10px;
  background: $color-yellow;
  @include respond(tab-port) {
    width: 30px;
    height: 30px;
  }
}
.star:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: $color-yellow;
  transform: rotate(45deg);
  @include respond(tab-port) {
    width: 30px;
    height: 30px;
  }
}
